---
layout: aktualnosci
title: Aktualności
---
{% assign miesiace = "styczeń,luty,marzec,kwiecień,maj,czerwiec,lipiec,sierpień,wrzesień,październik,listopad,grudzień" | split: "," %}


<!-- <h1 class="fb-posts-title">Aktualności</h1> -->

<div class="fb-posts">
    <!-- Post short -->
    {% assign sorted_posts = site.aktualnosci | sort: "date" | reverse %}
    {% for post in sorted_posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
            <p class="date">{% assign m = post.date | date: "%m" | minus: 1 %}{{ post.date | date: "%d" }} {{ miesiace[m] }} {{ post.date | date: "%Y" }}</p>
        {% if post.image %}
        <div class="post-img">
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
        </div>
        {% endif %}
        <div class="content">
            {{ post.excerpt | markdownify }}
        </div>
        <button class="read-more btn-main" data-post-index="{{ forloop.index0 }}">Czytaj więcej</button>
    </div>
    {% endfor %}
</div>

<!-- Full post -->
{% for post in sorted_posts%}
<div class="modal" id="modal-{{ forloop.index0 }}">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <!-- HEADER -->
        <div class="modal-header">
            <h2>{{ post.title }}</h2>
            <p class="date">{% assign m = post.date | date: "%m" | minus: 1 %}{{ post.date | date: "%d" }} {{ miesiace[m] }} {{ post.date | date: "%Y" }}</p>
        </div>
        <!-- BODY -->
        <div class="modal-body">
            <div class="modal-text">{{ post.content | markdownify }}</div>
        </div>
    </div>
</div>
{% endfor %}

<script src="/js/read-more-modal.js"></script>