<nav class="navbar">
    <div class="navbar-container">
        <a href="index.html" class="navbar-logo">
            <img src="images/logo.png" alt="Fundacja RiRi">
            <span>Fundacja RiRi</span>
        </a>

        <!-- Hamburger button -->
        <button class="navbar-toggle" aria-label="Toggle menu">
            ☰ 
        </button>

        <ul class="navbar-menu">
            <li><a href="test.html" data-page="o-nas">O nas</a></li>
            <li><a href="aktualnosci.html" data-page="aktualnosci">Aktualności</a></li>
            <li><a href="oferta.html" data-page="oferta">Oferta</a></li>
            <li><a href="wwr.html" data-page="wwr">WWR</a></li>
            <li><a href="dokumenty-do-pobrania.html" data-page="do-pobrania">Dokumenty do pobrania</a></li>
            <li><a href="kontakt.html" data-page="kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
