---
layout: turnusy
title: Turnusy
---

<!-- HERO -->
<section class="section-boxed" id="turnusy-wakacyjne-we-wroclawiu">
    <div class="intro-content">
        <div class="intro-text">
            <h1>Turnusy wakacyjne z Fundacją RiRi ☀️</h1>
            <p>Organizujemy turnusy terapeutyczne dla dzieci i młodzieży, które łączą indywidualne zajęcia z terapiami oraz grupowe aktywności.</p>
            <a href="https://forms.gle/RdC3TRPPqSRtZymL6" class="ankieta button">Zapisz swoje dziecko</a>
        </div>
        <div class="intro-img-turnusy">
            <img src="/images/stock/children-forest-cabin.webp" alt="Dzeci bawiące się z terapeutą klockami i piłkami w domku w lesie" class="intro-img">
        </div>
    </div>
</section>

<section class="section-boxed news-header-section">
    <h1>Aktualne turnusy</h1>
</section>
<section class="turnusy-list news-section">
    <div class="news-list">
        {% for turnus in site.turnusy %}
        <div class="news-card">
            {% if turnus.image %}
            <div class="news-image">
                <img src="{{ turnus.image | relative_url }}" alt="{{ turnus.title }}">
            </div>
            {% endif %}

            <button class="button read-more" data-post-index="{{ forloop.index0 }}">Czytaj więcej</button>
        </div>
        {% endfor %}
    </div>
</section>

{% for turnus in site.turnusy %}
<div class="modal" id="modal-{{ forloop.index0 }}">
    <div class="modal-wrapper">
        <span class="modal-close">&times;</span>
        
        <div class="modal-header">
            <h2>{{ turnus.title }}</h2>
        </div>
        
        <div class="modal-body">
            <div class="modal-text">{{ turnus.content | markdownify }}</div>
        </div>

    </div>
</div>
{% endfor %}

<section class="section-boxed">
    <h2>Dla kogo są nasze turnusy?</h2>
    <div class="turnusy-listing">
        <img src="/images/nowe-ikony/crab.webp" alt="Ikona kraba">
        <ul>
            <li>dzieci z zaburzeniami rozwojowymi ASP, ADHD</li>
            <li>dzieci z trudnościami w zakresie mowy i komunikacji</li>
            <li>dzieci z trudnościami w funkcjonowaniu i zachowaniu</li>
            <li>dzieci z trudnościami w obszarze motoryki małej i dużej</li>
            <li>dzieci z opóźnieniami w rozwoju</li>
        </ul>
        <img src="/images/nowe-ikony/ice-cream.webp" alt="Ikona lodów">
    </div>
</section>

<section class="section-boxed">
    <h2>Dlaczego warto wybrać nasze turnusy?</h2>
    <div class="turnusy offer-cards">
        <a class="offer-card" title="Doświadczeni terapeuci">
            <div class="offer-card-icon">
                <img src="/images/nowe-ikony/group.webp" alt="Ikona grupy">
            </div>
            <div class="offer-card-title">
                <span>Doświadczeni terapeuci</span>
            </div>
            <p>Specjaliści z różnych dziedzin, którzy tworzą zgrany zespół</p>
        </a>
        <a class="offer-card" title="Indywidualne podejście">
            <div class="offer-card-icon">
                <img src="/images/nowe-ikony/crown.webp" alt="Ikona korony">
            </div>
            <div class="offer-card-title">
                <span>Indywidualne podejście</span>
            </div>
            <p>Program dostosowany do potrzeb każdego dziecka</p>
        </a>
        <a class="offer-card" title="Rozwój i zabawa">
            <div class="offer-card-icon">
                <img src="/images/nowe-ikony/heart.webp" alt="Ikona serca">
            </div>
            <div class="offer-card-title">
                <span>Rozwój i zabawa</span>
            </div>
            <p>Łączymy terapię z aktywnościami, które sprawiają radość</p>
        </a>
        <a class="offer-card" title="Integracja">
            <div class="offer-card-icon">
                <img src="/images/nowe-ikony/laughing.webp" alt="Ikona uśmiechu">
            </div>
            <div class="offer-card-title">
                <span>Integracja</span>
            </div>
            <p>Tworzymy przestrzeń do nawiązywania przyjaźni i współpracy</p>
        </a>
    </div>
</section>

<section class="section-boxed signup-section">
    
        <div>
            <h2>Zapisz swoje dziecko już dziś!</h2>
            <p>Liczba miejsc jest ograniczona.<br>Wypełnij formularz zgłoszeniowy lub skontaktuj się z nami w inny, wybrany sposób,<br>a my odezwiemy się do Ciebie z dalszymi informacjami.</p>
        </div>
        <div class="signup-image">
            <img src="/images/stock/happy-kid.webp" alt="Zadowolone dziecko z uniesionymi kciukami">
        </div>
        <div class="signup-buttons">
            <a href="https://forms.gle/RdC3TRPPqSRtZymL6" class="ankieta button">Formularz zgłoszeniowy</a>
            <a href="/kontakt/" class="kontakt button">Skontaktuj się z nami</a>
        </div>
</section>


<script src="/js/read-more-modal.js"></script>

