<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundacja RiRi</title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.ico"sizes="64x64">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap">
</head>
<body data-page="aktualnosci">
    <!-- BACKGROUND SHAPES -->
    <div id="blobs-container"></div>

    <!-- NAVBAR -->
    <nav class="navbar"></nav>
    {{ content }}
    <main></main>
    

    <!-- STOPKA -->
    <footer class="footer"></footer>
    <script src="{{ site.baseurl }}/js/include.js"></script>
    <script src="{{ site.baseurl }}/js/blobs.js"></script>
    <script src="{{ site.baseurl }}/js/read-more-modal.js"></script>
    <script src="{{ site.baseurl }}/js/hamburger.js"></script>
    <script src="{{ site.baseurl }}/js/navbar-active.js"></script>
</body>
</html>