---
layout: aktualnosci
title: Aktualności
---
{% assign miesiace = "styczeń,luty,marzec,kwiecień,maj,czerwiec,lipiec,sierpień,wrzesień,październik,listopad,grudzień" | split: "," %}

<section class="section-boxed news-header-section">
        <h1>Aktualności</h1>
</section>
<section class="news-section"> 
    {% assign sorted_posts = site.aktualnosci | sort: "date" | reverse %}
    
    <!-- LIST OF SHORTEN POSTS -->
    <div class="news-list">
        {% for post in sorted_posts %}
        <div class="news-card">
            <h2 class="news-title">{{ post.title }}</h2>
            <p class="news-date">{% assign m = post.date | date: "%m" | minus: 1 %}{{ post.date | date: "%d" }} {{ miesiace[m] }} {{ post.date | date: "%Y" }}</p>
    
            {% if post.image %}
            <div class="news-image">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
            </div>
            {% else %}
            <div class="news-image">
                <img src="{{ '/images/aktualnosci/default-image.webp' | relative_url }}" alt="Domyślny obraz aktualności">
            </div>
            {% endif %}
            
            <div class="news-small">{{ post.excerpt | markdownify }}</div>

            <a class="button" href="{{ post.url | relative_url }}">Czytaj więcej</a>
        </div>
        {% endfor %}
    </div>
</section>


